<md-dialog class="qr-code-dialog">
  <md-dialog-heading>    
    <div class="md-title truncate">QR Code – impressos das aulas UFC Virtual</div>
  </md-dialog-heading>
  <md-dialog-content ng-init="dialog.$onInit()">
    <div class="linha" ng-class="$root.$mdMedia('xs') ? 'column-reverse' : ''">
      <div class="col-md-2">
        <h3>Instruções</h3>
        <p>Siga as instruções abaixo para realizar o download dos impressos das aulas em seu celular.</p>
             
                    
  <md-card>
      <div class="table-responsive-vertical" >
        <table id="table" class="table table-striped table-hover">
          <tbody>
            <tr><td style="font-size:12px">• baixe o aplicativo QR Code (Digitalizador de código de QR) em seu celular; (QR Code Reader, NeoReader, QR Code) ;  </td></tr>
            <tr><td style="font-size:12px">• abra o aplicativo;; </td></tr>
            <tr><td style="font-size:12px">• na aula, clique no ícone “QR Code” na barra inferior das aulas (qualquer tópico); </td></tr>
           <tr><td style="font-size:12px">• posicione a câmera do seu celular em frente ao código (QR Code) da aula e espere o aplicativo reconhecer o código; </td></tr>
            <tr><td style="font-size:12px">• clique em "Open", após o aplicativo reconhecer o código;</td></tr>
        <tr><td style="font-size:12px">• deverá abrir a página de acesso do Solar; </td></tr>
        <tr><td style="font-size:12px">• preencha com seu login e senha de acesso; </td></tr>
          <tr><td style="font-size:12px">• o impresso (pdf) da aula abrirá.</td></tr>       
        </tbody>
        </table>
      </div>
    </md-card>
    
                  
                  
                  
                  
        </div>
      <div class="col-md-2">
      <p>
        <p class="text-center">
          <div class="qr-code-wrap"><br />
<br />



            <img src="layout/qr-code-logo.png" width="{{ $root.$mdMedia('gt-sm') ? '72' : '48' }}" height="{{ $root.$mdMedia('gt-sm') ? '72' : '48' }} }}" class="qr-code-icon" />
            <img src="https://api.qrserver.com/v1/create-qr-code/?size={{ $root.$mdMedia('gt-sm') ? '360x360' : '180x180'}}&data={{text}}&ecc=M&charset-source=UTF-8" />
          </div>
        </p>
        </p>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close()" class="md-primary">Fechar</md-button>
  </md-dialog-actions>
</md-dialog>